name: Publish to PyPI

on:
    release:
        types: [published]

jobs:
    build_wheels:
        name: Build wheels on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.9"
            - name: Install cibuildwheel
              run: python -m pip install --upgrade pip cibuildwheel
            - name: Build wheels
              run: python -m cibuildwheel --output-dir wheelhouse
            - name: Upload wheels as artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: wheels
                  path: wheelhouse/*.whl

    publish:
        name: Publish to PyPI
        runs-on: ubuntu-latest
        needs: build_wheels
        permissions:
            id-token: write
            contents: read
        steps:
            - uses: actions/checkout@v3
            - name: Download wheels
              uses: actions/download-artifact@v3
              with:
                  name: wheels
                  path: dist
            - name: Publish to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  skip-existing: true
